<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
  <link rel="stylesheet" href="/rookie/css/common.css">

	<link href="https://codersit.co.kr/theme/daontheme_business03/html/css_js/font.css" rel="stylesheet" type="text/css">
	<link rel='stylesheet' href="https://codersit.co.kr/coders/research/bootstrap/css2/bootstrap.css" />	
	<script src="https://codersit.co.kr/coders/research/jquery/jquery-3.4.1.min.js"></script>	
	<script src="https://codersit.co.kr/coders/research/bootstrap/js2/bootstrap.bundle.min.js"></script>
	<script src="https://codersit.co.kr/coders/confetti_v2.js"></script>

	<script type="module" src="/rookie/js/problemPage.js"></script>
	<script>
		const problemKey = <%= problemKey %>
	</script>
	<style>
		html, body { height: 100%; overflow: hidden; font-family: 'Noto Sans KR', sans-serif;}
		.svg-button { cursor: pointer; transition: fill 0.2s; margin: 0 0.3rem; }
		.svg-button:hover { fill: #999999; }
		.nav-button { height: 1.9rem; font-size: 0.9rem; font-weight: 600; border: none; margin: 0 0.2rem; border-radius: 1rem; white-space: nowrap; background-color: #FEFEFE; color: #555555; transition: all 0.2s;}
		.nav-button:hover { background-color: #555555; color: #FEFEFE; } 
		#btnSubmit { background-color: #29c45c; color: #FEFEFE; transition: all 0.2s; }
		#btnSubmit:hover { background-color: #FEFEFE; color: #555555; }
		#btnReset { background-color: #FEFEFE; color: #555555; transition: all 0.2s; }
		#btnReset:hover { background-color: #e25555; color: #FEFEFE; }
		label { font-size: 1.2rem; font-weight: bold; }
		table { font-size: 1rem; white-space: nowrap; }

		.top-padder {min-height: 38px; max-height: 38px; background-color: #4f80ff;}
		.viewer-info-tab { padding: 8px 30px 8px 10px; width: fit-content; background: #FFFFFF; border-radius: 8px 8px 0 0; border-bottom: solid 2px #FFB500; color: #FFB500; font-weight: 600; font-size: 14px;}

		#canvas{z-index:1060;pointer-events: none;position: fixed;top: 0;left:0; width:100%;height:100%;transform: scale(1.1);}
	</style>
</head>

<body>
	<div class="d-flex flex-column h-100 w-100 fadein">

		<div class="top-nav d-flex flex-row justify-content-between align-items-center"
		style="height: 3rem; padding: 0.3rem 0; background-color: #4f80ff; position: relative;">
			<div class="top-nav-left ms-3 d-flex flex-row justify-content-start" style="padding: 0 0.3rem; width: 35%;">
				
				<svg id="btnExit" class="svg-button" xmlns="http://www.w3.org/2000/svg" height="1.9rem" width="1.9rem" viewBox="0 0 24 24" fill="#FEFEFE"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg>

				<div style="border-right: 1px solid #FAFAFA; height: 1.3rem; margin: auto 1.1rem"></div>
				<button id="btnReset" class="nav-button no-drag">다시풀기</button>

				<div style="border-right: 1px solid #FAFAFA; height: 1.3rem; margin: auto 1.1rem"></div>
				
				<button id="btnSolutions" class="nav-button no-drag">제출조회</button>
				
				<% if ([_ROLE.ADMIN, _ROLE.TEACHER].includes(_user.role)) {%>
				<div style="border-right: 1px solid #FAFAFA; height: 1.3rem; margin: auto 1.1rem"></div>
				
				<button id="btnModify" class="nav-button no-drag">문제수정</button>

				<button id="btnDelete" class="nav-button no-drag">문제삭제</button>
				<% } %>

			</div>
			<div class="top-nav-mid h-100 d-flex flex-column align-items-center" style="width: 30%;">
				<div class="nav-title w-100 h-75 d-flex flex-row justify-content-center align-items-center pb-1">
					<span id="navTitle" class="no-drag d-block" style="font-size: 1.2rem; color: #FFFFFF; font-weight: 600;"></span>
					<span id="navIcon" style="margin-left: 0.2rem; margin-bottom: 0.2rem;"></span>
				</div>
			</div>
			<div class="top-nav-right me-3 d-flex flex-row justify-content-end" style="padding: 0 0.3rem; width: 35%;">
				<% if (_user.role !== _ROLE.GUEST) {%>
				<div class="util-box d-flex flex-row">

					<svg id="btnSave" class="svg-button" xmlns="http://www.w3.org/2000/svg" height="1.9rem" width="1.9rem" viewBox="0 0 24 24" fill="#FEFEFE"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"/></svg>

				</div>
				
				<div style="border-right: 1px solid #FAFAFA; height: 1.3rem; margin: auto 1.3rem"></div>

				<button id="btnSubmit" class="nav-button no-drag">제출하기</button>
				<% } %>
			</div>
		</div>

		
		<div class="d-flex flex-row flex-grow-1 w-100">
			<div id="left" class="d-flex flex-column" style="background-color: #dddddd; overflow: hidden; max-width: 485px; width: 485px;">
				<div class="top-padder">
					<div class="h-100 ms-4 viewer-info-tab no-wrap">
						<span>문제 설명</span>
						<svg 
							id="docBtn" class="svg-button mx-0" xmlns="http://www.w3.org/2000/svg" 
							height="1rem" width="1rem" viewBox="0 -960 960 960" fill="#FFB500"
						>
							<path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/>
						</svg>
					</div>
				</div>
				<iframe id="viewer" class="h-100 w-100 no-drag" src="/rookie/component/documentViewer" frameborder="0"></iframe>
			</div>


			<div id="resizer">
				<div class="top-padder"></div>
				<div class="h-100" style="background-color: #FAFAFA; border: #DDDDDD solid 1px; cursor: col-resize; min-width: 16px; max-width: 16px;">
					<svg xmlns="http://www.w3.org/2000/svg" width="80%" height="100%" viewBox="0 0 24 24" fill="#AAAAAA">
						<rect x="8" y="5" width="3" height="32" rx="1" stroke="#AAAAAA" stroke-linecap="round" />
						<rect x="17" y="5" width="3" height="32" rx="1" stroke="#AAAAAA" stroke-linecap="round" />
					</svg>
				</div>
			</div>


			<div id="right" class="d-flex flex-column flex-grow-1" style="min-width: 1024px;">

				<div class="flex-grow-1 no-drag">
					<iframe id="entry" src="/rookie/component/workspace" frameborder="0" class="h-100 w-100"></iframe>
				</div>
			</div>
		</div>
	</div>
  <%- include('../modals/alert') %>
  <%- include('../modals/confirm') %>
	<%- include('../modals/fakeProgress') %>
	<canvas id="canvas"></canvas>
	<div class="buttonContainer" style="display:None;">
		<button class="canvasBtn" id="stopButton">Stop Confetti</button>
		<button class="canvasBtn" id="startButton">Drop Confetti</button>	
	</div>
</body>
</html>